
@for $i from 1 through 6 {
  .h#{$i} {
    @extend h#{$i};
  }
}

h1, h2 {
  font-family: "Raleway";
}

p {
  color: $dark-gray;
}

i.border {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 2px solid $primary-color;
  border-radius: 50%;
  font-size: 18px;
  color: $primary-color;
  text-align: center;
  &.large {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 36px;
  }
}

.main-container {
  max-width: 1400px;
  margin: auto;
  padding-top: 60px;
  @include breakpoint(small down) {
    padding-top: 40px;
  }
}

section {
  padding: 85px 0;
  @include breakpoint(medium down) {
    padding: 60px 0;
  }
  &.gray {
    background: $light-gray;
  }
}

.section-head {
  margin-bottom: 60px;
  text-align: center;
  @include breakpoint(medium down) {
    margin-bottom: 40px;
  }
  .h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-top: -10px;
  }
  .line {
    margin-left: auto;
    margin-right: auto;
  }
  .subheader {
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
  }
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  span {
    font-weight: 300;
    color: $primary-color;
  }
}

.line {
  width: 64px;
  height: 2px;
  background: $primary-color;
  margin-bottom: $header-margin-bottom;
}

.img-shadow {
  display: inline-block;
  box-shadow: 0 20px 60px rgba($black, .3);
  img {
    display: block;
  }
}

.button {
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba($black,.2);
  &:active {
    box-shadow: none;
  }
  &.border {
    background: transparent;
    border: 2px solid $white;
    border-radius: 0;
    box-shadow: none;
    &:hover {
      background: rgba($white, .2);
    }
  }
}

.input {
  position: relative;
  label {
    color: $medium-gray;
    position: absolute;
    left: 12px;
    top: 6px;
    transition: top .2s;
    &:hover {
      cursor: text;
    }
  }
  input, textarea {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid $medium-gray;
    font-size: 1rem;
    padding-left: 12px;
    padding-right: 12px;
    &:focus {
      box-shadow: none;
      border: none;
      border-bottom: 1px solid $dark-gray;
      & + label {
        top: -20px;
        //color: $dark-gray;
      }
    }
  }
}
