<footer>
  <section class="socials">
    <div class="row">

      <div class="column">
        {{#each socicons}}
          <a href=""><i class="fa {{this}}" aria-hidden="true"></i></a>
        {{/each}}
      </div>

      <div class="column copyright">
        © 2015 Axure Themes
      </div>

    </div>
  </section>
</footer>
