footer {
  background: $black;
  color: $white;
  .socials {
    background: none;
    padding: 15px 0;
    a {
      font-size: 24px;
      line-height: 36px;
      @include breakpoint(small down) {
        font-size: 21px;
        line-height: 20px;
      }
    }
  }
  .copyright {
    padding-top: 10px;
    font-size: 12px;
    color: $dark-gray;
  }
}
