.comments {
  .columns {
    @include breakpoint(medium down) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.comment {
  .quote {
    background: $light-gray;
    padding: 1.2rem $global-padding;
    border-radius: $global-radius;
    margin-bottom: 1.875rem;
    position: relative;
    font-style: italic;
    @include breakpoint(large) {
      max-width: 280px;
    }
    p {
      margin-bottom: 0;
      line-height: 1.3;
    }

    &::after {
      content: '';
      bottom: -15px;
      left: 25px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 15px 10px 0 10px;
      border-color: $light-gray transparent transparent transparent;
      position: absolute;
    }
  }
  .person {
    div {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 15px;
    img {
      display: block;
      width: 100%;
    }
  }
  .h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .info {
    color: $dark-gray;
    margin-bottom: 0;
  }
}

&.hero-small {
  color: $white;
  background-color: $black;
  .section-head {
    margin-bottom: 0;
  }
  .line {
    background: $white;
  }
  .subheader {
    color: $white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  .button {
    margin-bottom: 0;
  }
}
