<section class="comments" id="comments"  data-magellan-target="comments">
  <div class="row" data-equalizer>

    <div class="section-head column">
      <div class="h2">What our customers are saying</div>
      <div class="line"></div>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    {{#each comments}}
      <div class="columns large-4">
        <div class="comment">
          <div class="quote" data-equalizer-watch>
            <p>{{comment}}</p>
          </div>
          <div class="person">
            <div class="img">
              <img src="{{img}}" alt="" />
            </div>
            <div>
              <p class="h5">{{name}}</p>
              <p class="info">{{position}}</p>
            </div>
          </div>
        </div>
      </div>

    {{/each}}

  </div>
</section>

<section class="hero-small" style="background-image: url(/assets/img/img-bg.jpg);">
  <div class="row">
    <div class="section-head column">
      <div class="h2">Stylish axure Design</div>
      <div class="line"></div>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dignissimos, placeat fuga quasi assumenda!</p>
      <a href="" class="button border">Download</a>
    </div>
  </div>
</section>
