.tarifs {
  .columns {
    @include breakpoint(768px down) {
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .tarif-card {
    padding-top: 40px;
    @include breakpoint(768px down) {
      padding-top: 0;

    }
  }
  .column {
    &:nth-child(2) {
      .tarif-card {
        padding-top: 0;
      }
    }
  }
}

.tarif-card {
  color: $white;
  .price-wrap {
    @include breakpoint(768px down) {
      //float: left;
      //width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .h5 {
    text-align: center;
    padding: 20px;
    background: $black;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 0;
    @include breakpoint(768px down) {
      padding: 10px;
      font-size: 18px;
    }
  }
  .price {
    padding: 5px 0 20px;
    background: $black;
    text-align: center;
    div {
      font-weight: 700;
      font-size: 36px;
      @include breakpoint(768px down) {
        font-size: 21px;
      }
      span {
        font-size: 70px;
        @include breakpoint(768px down) {
          font-size: 60px;
        }
      }
    }
    i {
      color: $dark-gray;
    }
  }
  .subprice {
    border-bottom: 5px solid $primary-color;
    background: $primary-color;
    text-align: center;
    font-weight: 600;
    line-height:40px;
    text-transform: uppercase;
    span {
      position: relative;
      top: 3px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: $white;
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    // @include breakpoint(768px down) {
    //   float: left;
    // }
    li {
      padding: 11px 10px 9px;
      border-bottom: 1px solid $light-gray;
      @include breakpoint(768px down) {
        font-size: 12px;
      }
    }
  }
}
