<section class="tarifs gray"  id="tarifs"  data-magellan-target="tarifs">
  <div class="row">

    <div class="section-head column">
      <div class="h2">Pricing options</div>
      <div class="line"></div>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <div class="row">
    {{#each tarifs}}
      <div class="columns small-4">

        <div class="tarif-card" onclick="window.location='#';">
          <div class="price-wrap">
            <div class="h5">{{title}}</div>
            <div class="price">
              <div>$<span>{{price}}</span></div>
              <i>{{desc}}</i>
            </div>
            <div class="subprice">
              <span>{{subprice}}</span>
            </div>
          </div>
          <ul>
            <li>{{option1}}</li>
            <li>{{option2}}</li>
            <li>{{option3}}</li>
            <li>{{option4}}</li>
            <li>{{option5}}</li>
            <li>{{option6}}</li>
          </ul>
        </div>

      </div>

    {{/each}}
  </div>

</section>
