.hero {
  color: $white;
  @include breakpoint(large) {
    height: 710px;
    padding: 0;
  }
  .row {
    @include breakpoint(large) {
      top: 50%;
      transform: translate(0, 45%);
    }
  }
  .logo {
    font-size: 80px;
    margin-bottom: .9rem;
    font-family: 'Open Sans';
    @include breakpoint(large) {
      margin-top: -22px;
    }
    @include breakpoint(small down) {
      font-size: 54px;
    }
  }
  .h2 {
    text-transform: uppercase;
    font-weight: 400;
    @include breakpoint(large) {
      max-width: 600px;
    }
  }
  .line {
    background: $white;
    margin-left: 0;
  }
  p {
    color: $white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: $header-font-family;
    @include breakpoint(large) {
      max-width: 600px;
    }
  }
  .hero-form {

  }
}

.hero-form {
  background: $white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  .h5 {
    color: $black;
    text-align: center;
    margin-bottom: 0;
    background: $light-gray;
    padding: 20px;
    margin-bottom: 35px;
    span {
      color: $primary-color;
    }
  }
  .input {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  button {
    width: 100%;
    position: relative;
    padding: 23px;
    margin-bottom: 0;
    margin-top: 20px;
  }
}

.socials {
  background: $white;
  padding: 25px 0;
  text-align: center;
  @include breakpoint(large down) {
    padding: 15px 0;
  }
  .text {
    text-align: left;
  }
  .h5 {
    margin-bottom: .7rem;
  }
  p {
    margin-bottom: 0;
  }
  a {
    font-size: 50px;
    line-height: 75px;
    color: $medium-gray;
    display: inline-block;
    margin: 0 .7rem;
    transition: color .2s;
    @include breakpoint(medium down) {
      font-size: 36px;
      line-height: 35px;
    }
    @include breakpoint(small down) {
      font-size: 21px;
      line-height: 20px;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}
