<section class="hero" style="background-image: url(/assets/img/hero.jpg);">
  <div class="row">

    <div class="column large-8">
      <div class="h1 logo">Ax<span>it</span></div>
      <div class="h2">Modern axure template for beautiful prototypes</div>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
      <a href="" class="button border">Download</a>
    </div>

    <div class="column large-4  show-for-large">
      <form action="" class="hero-form">
        <div class="h5">Try Your <span>FREE</span> Trial Today</div>

        <div class="input">
          <input type="text" id="name">
          <label for="name">Name</label>
        </div>

        <div class="input">
          <input type="text" id="email">
          <label for="email">Email</label>
        </div>

        <div class="input">
          <input type="password" id="password">
          <label for="password">Password</label>
        </div>

        <button type="submit" class="button">Get Started</button>
      </form>
    </div>

  </div>
</section>

<section class="socials">
  <div class="row">

    <div class="column large-5 show-for-large">
      <div class="text">
        <div class="h5">Social Media</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fugiat possimus, dolores veniam dolore. Numquam.</p>
      </div>
    </div>

    <div class="column large-7">
      {{#each socicons}}
        <a href=""><i class="fa {{this}}" aria-hidden="true"></i></a>
      {{/each}}
    </div>

  </div>
</section>
