<section class="features gray" id="features"  data-magellan-target="features">
  <div class="row">

    <nav class="column large-2">
      <ul class="vertical tabs-menu" data-tabs id="features-tabs">

        {{#each features}}
          <li class="tabs-title {{is-active}}"><a href="#panel{{id}}v" {{aria-selected}}>{{item}}</a></li>
        {{/each}}

      </ul>
    </nav>

    <div class="column large-10">
      <div class="tabs-content" data-tabs-content="features-tabs">

        {{#each features}}
          <div class="tabs-panel {{is-active}} row" id="panel{{id}}v"  data-animate="fade-in fade-out">

            <div class="column large-7">
              <div class="text">
                <div class="h4">{{title}}</div>
                <p>{{text}}</p>
                <p>{{text}}</p>
              </div>
              <a href="" class="button">Download</a>
            </div>

            <div class="column large-5 show-for-large">
              <img src="{{img}}" alt="">
            </div>

          </div>

        {{/each}}

      </div>
    </div>

  </div>
</section>

<section class="features">
  <div class="row">

    <div class="column large-6 show-for-large">
      <div class="img-shadow"><img src="assets/img/feature1.jpg" alt=""></div>
    </div>

    <div class="column large-6">
      <div class="h4">Sub list section</div>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
      <ul class="icon-bullets">
        <li>
          <i class="fa fa-cloud-upload border" aria-hidden="true"></i>
          <div class="h6">Title</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis vel doloremque ullam.</p>
        </li>
        <li>
          <i class="fa fa-cloud-upload border" aria-hidden="true"></i>
          <div class="h6">Title</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ab reiciendis dolorum sunt ullam, perspiciatis illo, dolorem nam explicabo. Quidem!</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="features gray">
  <div class="row">

    <div class="column large-6">
      <div class="h4">Sub list section</div>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>

    </div>

    <div class="column large-6 show-for-large">
      <div class="img-shadow float-right"><img src="assets/img/feature1.jpg" alt=""></div>
    </div>

  </div>
</section>
