
.tabs-menu {
  background: transparent;
  width: 112px;
  border: none;
  border-radius: $global-radius;
  overflow: hidden;
  margin: 0;
  list-style: none;
  @include breakpoint(medium down) {
    width: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .tabs-title {
    float: none;
    @include breakpoint(medium down) {
      float: left;
    }
    a {
      @extend h5;
      margin: 0;
      display: inline-block;
      line-height: 112px;
      width: 100%;
      text-align: center;
      color: $white;
      background: $black;
      margin-bottom: 1px;
      transition: background .2s;
      @include breakpoint(medium down) {
        line-height: 75px;
        width: 75px;
        margin-bottom: 0;
        margin-right: 1px;
      }
      &[aria-selected='true'] {
        background: transparent;
        &:hover {
          cursor: default;
        }
      }
      &:hover {
        background: lighten($black, 10%);
      }
    }
    &.is-active {
        a {
          background: $primary-color;
        }
      }
    &:last-child {
      a {
        margin: 0;
      }
    }
  }
}

.tabs-content {
  padding: 0;
  background: none;
  .tabs-panel {
    padding: 0;
  }
  .text {
    margin-bottom: 25px;
  }
  img {
    display: block;
    float: right;
    margin-top: 25px;
  }
}

.icon-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    .h6 {
      margin-bottom: 0;
      margin-bottom: 5px;
    }
    i {
      position: absolute;
      top: 0;
      left: 5px;
    }
  }
}
