.contact-form {
  .columns {
    @include breakpoint(medium) {
      &:first-child {
        padding-right: 30px;
      }
      &:last-child {
        padding-left: 30px;
      }
    }
    @include breakpoint(small down) {
      &:last-child {
        padding-top: 25px;
      }
      textarea {
        height: 100px;
      }
    }
  }
  .input {
    input {
      margin-bottom: 25px;
    }
    &:last-child {
      input, textarea {
        margin-bottom: 0;
      }
    }
  }
}
