<section class="contacts" id="contacts"  data-magellan-target="contacts">
  <div class="row">
    <div class="section-head column">
      <div class="h2">Contact us</div>
      <div class="line"></div>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <form action="" class="contact-form">
    <div class="row"  data-equalizer  data-equalize-on="medium">

      <div class="columns medium-6" data-equalizer-watch>

        <div class="input">
          <input type="text" id="name2">
          <label for="name2">Name</label>
        </div>

        <div class="input">
          <input type="text" id="email2">
          <label for="email2">Email</label>
        </div>

        <div class="input">
          <input type="text" id="subject">
          <label for="subject">Subject</label>
        </div>

      </div>

      <div class="columns medium-6">
        <div class="input">
          <textarea id="message" data-equalizer-watch></textarea>
          <label for="message">Message</label>
        </div>
      </div>

    </div>
  </form>


</section>
