<section class="benefits" id="benefits"  data-magellan-target="benefits">
  <div class="row">

    <div class="section-head column">
      <div class="h2">Why this is awesome</div>
      <div class="line"></div>
      <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    {{#each benefits}}
      <div class="columns large-4">
        <i class="fa {{icon}} border large" aria-hidden="true"></i>
        <div class="h4">{{title}}</div>
        <p>{{text}}</p>
      </div>
    {{/each}}

  </div>
</section>
