.benefits {
  text-align: center;
  i {
    margin-bottom: 1.8rem;
  }
  p {
    margin-bottom: 0;
  }
  .columns {
    @include breakpoint(medium down) {
      max-width: 600px;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      &:last-child {
        float: none;
        margin-bottom: 0;
      }
    }
  }
}
