<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>



    <div class="main-container">

      {{> top-nav}}

      {{> hero}}

      {{> features}}

      {{> benefits}}

      {{> tarifs}}

      {{> comments}}

      {{> contacts}}

      {{> body}}

      {{> footer}}

    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
