<header>
  <div class="off-canvas position-top" id="offCanvasTop" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical menu" data-magellan>
      <li><a href="#features">Features</a></li>
      <li><a href="#benefits">About</a></li>
      <li><a href="#tarifs">Pricing</a></li>
      <li><a href="#comments">Reviews</a></li>
      <li><a href="#contacts">Contact</a></li>
    </ul>
  </div>

  <div class="top-nav">
    <nav class="row">
      <div class="column">
        <div class="top-bar-left">
          <div class="logo">Ax<span>it</span></div>
        </div>
        <div class="top-bar-right">
          <ul class="menu show-for-large"  data-magellan>
            <li><a href="#features">Features</a></li>
            <li><a href="#benefits">About</a></li>
            <li><a href="#tarifs">Pricing</a></li>
            <li><a href="#comments">Reviews</a></li>
            <li><a href="#contacts">Contact</a></li>
          </ul>

          <button type="button" class="menu-icon hide-for-large" data-toggle="offCanvasTop"></button>
        </div>
      </div>
    </nav>
  </div>
</header>
