.off-canvas {
  z-index: 2;
  .menu {
    padding: 15px;
    li {
      margin-bottom: 7px;
      a {
        color: $light-gray;
        &:hover {
          color: $medium-gray;
        }
      }
    }
  }
}

.top-nav {
  padding: 20px 0 15px;
  background: $black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include breakpoint(small down) {
    padding: 10px 0;
  }
  .logo {
    position: relative;
    top: 1px;
    font-size: 36px;
    line-height: 21px;
    @include breakpoint(small down) {
      font-size: 24px;
    }
  }
  .menu {
    li {
      display: inline-block;
      margin-left: 15px;
      a {
        color: $light-gray;
        padding: 0.3rem 1rem;
        &:hover {
          color: $medium-gray;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
  .menu-icon {
    float: right;
    margin-top: 5px;
  }
}
